:root {
  --primarypr-00: rgba(255, 255, 255, 1);
  --primarypr-10: rgba(249, 248, 246, 1);
  --primarypr-20: rgba(177, 211, 185, 1);
  --primarypr-30: rgba(136, 189, 164, 1);
  --primarypr-40: rgba(101, 146, 135, 1);
  --primarypr-50: rgba(0, 0, 0, 1);
  --secondarysc-00: rgba(243, 243, 243, 1);
  --secondarysc-10: rgba(248, 243, 225, 1);
  --secondarysc-20: rgba(250, 247, 187, 1);
  --secondarysc-30: rgba(174, 183, 132, 1);
  --secondarysc-40: rgba(65, 67, 27, 1);
  --secondarysc-50: rgba(196, 196, 196, 1);
  --secondarysec-60: rgba(227, 242, 253, 1);
  --secondarysec-70: rgba(144, 202, 249, 1);
  --secondarysec-80: rgba(33, 150, 243, 1);
  --secondarysec-90: rgba(13, 71, 161, 1);
  --display-regular-font-family: "Poppins", Helvetica;
  --display-regular-font-weight: 400;
  --display-regular-font-size: 60px;
  --display-regular-letter-spacing: 0px;
  --display-regular-line-height: 74px;
  --display-regular-font-style: normal;
  --display-medium-font-family: "Poppins", Helvetica;
  --display-medium-font-weight: 500;
  --display-medium-font-size: 60px;
  --display-medium-letter-spacing: 0px;
  --display-medium-line-height: 74px;
  --display-medium-font-style: normal;
  --display-bold-font-family: "Poppins", Helvetica;
  --display-bold-font-weight: 700;
  --display-bold-font-size: 60px;
  --display-bold-letter-spacing: 0px;
  --display-bold-line-height: 74px;
  --display-bold-font-style: normal;
  --heading-h1-regular-font-family: "Poppins", Helvetica;
  --heading-h1-regular-font-weight: 400;
  --heading-h1-regular-font-size: 44px;
  --heading-h1-regular-letter-spacing: 0px;
  --heading-h1-regular-line-height: 58px;
  --heading-h1-regular-font-style: normal;
  --heading-h1-medium-font-family: "Poppins", Helvetica;
  --heading-h1-medium-font-weight: 500;
  --heading-h1-medium-font-size: 44px;
  --heading-h1-medium-letter-spacing: 0px;
  --heading-h1-medium-line-height: 58px;
  --heading-h1-medium-font-style: normal;
  --heading-h1-bold-font-family: "Poppins", Helvetica;
  --heading-h1-bold-font-weight: 700;
  --heading-h1-bold-font-size: 44px;
  --heading-h1-bold-letter-spacing: 0px;
  --heading-h1-bold-line-height: 58px;
  --heading-h1-bold-font-style: normal;
  --heading-h2-regular-font-family: "Poppins", Helvetica;
  --heading-h2-regular-font-weight: 400;
  --heading-h2-regular-font-size: 36px;
  --heading-h2-regular-letter-spacing: 0px;
  --heading-h2-regular-line-height: 46px;
  --heading-h2-regular-font-style: normal;
  --heading-h2-medium-font-family: "Poppins", Helvetica;
  --heading-h2-medium-font-weight: 500;
  --heading-h2-medium-font-size: 36px;
  --heading-h2-medium-letter-spacing: 0px;
  --heading-h2-medium-line-height: 46px;
  --heading-h2-medium-font-style: normal;
  --heading-h2-bold-font-family: "Poppins", Helvetica;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-font-size: 36px;
  --heading-h2-bold-letter-spacing: 0px;
  --heading-h2-bold-line-height: 46px;
  --heading-h2-bold-font-style: normal;
  --heading-h3-regular-font-family: "Poppins", Helvetica;
  --heading-h3-regular-font-weight: 400;
  --heading-h3-regular-font-size: 28px;
  --heading-h3-regular-letter-spacing: 0px;
  --heading-h3-regular-line-height: 38px;
  --heading-h3-regular-font-style: normal;
  --heading-h3-medium-font-family: "Poppins", Helvetica;
  --heading-h3-medium-font-weight: 500;
  --heading-h3-medium-font-size: 28px;
  --heading-h3-medium-letter-spacing: 0px;
  --heading-h3-medium-line-height: 38px;
  --heading-h3-medium-font-style: normal;
  --heading-h3-bold-font-family: "Poppins", Helvetica;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 28px;
  --heading-h3-bold-letter-spacing: 0px;
  --heading-h3-bold-line-height: 38px;
  --heading-h3-bold-font-style: normal;
  --heading-h4-regular-font-family: "Poppins", Helvetica;
  --heading-h4-regular-font-weight: 400;
  --heading-h4-regular-font-size: 24px;
  --heading-h4-regular-letter-spacing: 0px;
  --heading-h4-regular-line-height: 32px;
  --heading-h4-regular-font-style: normal;
  --heading-h4-medium-font-family: "Poppins", Helvetica;
  --heading-h4-medium-font-weight: 500;
  --heading-h4-medium-font-size: 24px;
  --heading-h4-medium-letter-spacing: 0px;
  --heading-h4-medium-line-height: 32px;
  --heading-h4-medium-font-style: normal;
  --heading-h4-bold-font-family: "Poppins", Helvetica;
  --heading-h4-bold-font-weight: 700;
  --heading-h4-bold-font-size: 24px;
  --heading-h4-bold-letter-spacing: 0px;
  --heading-h4-bold-line-height: 32px;
  --heading-h4-bold-font-style: normal;
  --heading-h5-regular-font-family: "Poppins", Helvetica;
  --heading-h5-regular-font-weight: 400;
  --heading-h5-regular-font-size: 20px;
  --heading-h5-regular-letter-spacing: 0px;
  --heading-h5-regular-line-height: 26px;
  --heading-h5-regular-font-style: normal;
  --heading-h5-medium-font-family: "Poppins", Helvetica;
  --heading-h5-medium-font-weight: 500;
  --heading-h5-medium-font-size: 20px;
  --heading-h5-medium-letter-spacing: 0px;
  --heading-h5-medium-line-height: 26px;
  --heading-h5-medium-font-style: normal;
  --heading-h5-bold-font-family: "Poppins", Helvetica;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 20px;
  --heading-h5-bold-letter-spacing: 0px;
  --heading-h5-bold-line-height: 26px;
  --heading-h5-bold-font-style: normal;
  --paragraph-p18-regular-font-family: "Poppins", Helvetica;
  --paragraph-p18-regular-font-weight: 400;
  --paragraph-p18-regular-font-size: 18px;
  --paragraph-p18-regular-letter-spacing: 0px;
  --paragraph-p18-regular-line-height: 27px;
  --paragraph-p18-regular-font-style: normal;
  --paragraph-p18-medium-font-family: "Poppins", Helvetica;
  --paragraph-p18-medium-font-weight: 500;
  --paragraph-p18-medium-font-size: 18px;
  --paragraph-p18-medium-letter-spacing: 0px;
  --paragraph-p18-medium-line-height: 27px;
  --paragraph-p18-medium-font-style: normal;
  --paragraph-p18-bold-font-family: "Poppins", Helvetica;
  --paragraph-p18-bold-font-weight: 700;
  --paragraph-p18-bold-font-size: 18px;
  --paragraph-p18-bold-letter-spacing: 0px;
  --paragraph-p18-bold-line-height: 27px;
  --paragraph-p18-bold-font-style: normal;
  --paragraph-p16-regular-font-family: "Poppins", Helvetica;
  --paragraph-p16-regular-font-weight: 400;
  --paragraph-p16-regular-font-size: 16px;
  --paragraph-p16-regular-letter-spacing: 0px;
  --paragraph-p16-regular-line-height: 24px;
  --paragraph-p16-regular-font-style: normal;
  --paragraph-p16-medium-font-family: "Poppins", Helvetica;
  --paragraph-p16-medium-font-weight: 500;
  --paragraph-p16-medium-font-size: 16px;
  --paragraph-p16-medium-letter-spacing: 0px;
  --paragraph-p16-medium-line-height: 24px;
  --paragraph-p16-medium-font-style: normal;
  --paragraph-p16-bold-font-family: "Poppins", Helvetica;
  --paragraph-p16-bold-font-weight: 700;
  --paragraph-p16-bold-font-size: 16px;
  --paragraph-p16-bold-letter-spacing: 0px;
  --paragraph-p16-bold-line-height: 24px;
  --paragraph-p16-bold-font-style: normal;
  --paragraph-p12-regular-font-family: "Poppins", Helvetica;
  --paragraph-p12-regular-font-weight: 400;
  --paragraph-p12-regular-font-size: 12px;
  --paragraph-p12-regular-letter-spacing: 0px;
  --paragraph-p12-regular-line-height: 18px;
  --paragraph-p12-regular-font-style: normal;
  --paragraph-p12-medium-font-family: "Poppins", Helvetica;
  --paragraph-p12-medium-font-weight: 500;
  --paragraph-p12-medium-font-size: 12px;
  --paragraph-p12-medium-letter-spacing: 0px;
  --paragraph-p12-medium-line-height: 18px;
  --paragraph-p12-medium-font-style: normal;
  --paragraph-p12-bold-font-family: "Poppins", Helvetica;
  --paragraph-p12-bold-font-weight: 700;
  --paragraph-p12-bold-font-size: 12px;
  --paragraph-p12-bold-letter-spacing: 0px;
  --paragraph-p12-bold-line-height: 18px;
  --paragraph-p12-bold-font-style: normal;
  --label-l18-regular-font-family: "Poppins", Helvetica;
  --label-l18-regular-font-weight: 400;
  --label-l18-regular-font-size: 18px;
  --label-l18-regular-letter-spacing: 0px;
  --label-l18-regular-line-height: 23px;
  --label-l18-regular-font-style: normal;
  --label-l18-medium-font-family: "Poppins", Helvetica;
  --label-l18-medium-font-weight: 500;
  --label-l18-medium-font-size: 18px;
  --label-l18-medium-letter-spacing: 0px;
  --label-l18-medium-line-height: 23px;
  --label-l18-medium-font-style: normal;
  --label-l18-bold-font-family: "Poppins", Helvetica;
  --label-l18-bold-font-weight: 700;
  --label-l18-bold-font-size: 18px;
  --label-l18-bold-letter-spacing: 0px;
  --label-l18-bold-line-height: 23px;
  --label-l18-bold-font-style: normal;
  --label-l16-regular-font-family: "Poppins", Helvetica;
  --label-l16-regular-font-weight: 400;
  --label-l16-regular-font-size: 16px;
  --label-l16-regular-letter-spacing: 0px;
  --label-l16-regular-line-height: 20px;
  --label-l16-regular-font-style: normal;
  --label-l16-medium-font-family: "Poppins", Helvetica;
  --label-l16-medium-font-weight: 500;
  --label-l16-medium-font-size: 16px;
  --label-l16-medium-letter-spacing: 0px;
  --label-l16-medium-line-height: 20px;
  --label-l16-medium-font-style: normal;
  --label-l16-bold-font-family: "Poppins", Helvetica;
  --label-l16-bold-font-weight: 700;
  --label-l16-bold-font-size: 16px;
  --label-l16-bold-letter-spacing: 0px;
  --label-l16-bold-line-height: 20px;
  --label-l16-bold-font-style: normal;
  --label-l12-regular-font-family: "Poppins", Helvetica;
  --label-l12-regular-font-weight: 400;
  --label-l12-regular-font-size: 12px;
  --label-l12-regular-letter-spacing: 0px;
  --label-l12-regular-line-height: 14px;
  --label-l12-regular-font-style: normal;
  --label-l12-medium-font-family: "Poppins", Helvetica;
  --label-l12-medium-font-weight: 500;
  --label-l12-medium-font-size: 12px;
  --label-l12-medium-letter-spacing: 0px;
  --label-l12-medium-line-height: 14px;
  --label-l12-medium-font-style: normal;
  --label-l12-bold-font-family: "Poppins", Helvetica;
  --label-l12-bold-font-weight: 700;
  --label-l12-bold-font-size: 12px;
  --label-l12-bold-letter-spacing: 0px;
  --label-l12-bold-line-height: 14px;
  --label-l12-bold-font-style: normal;
  --colors-accents-red: rgba(255, 56, 60, 1);
} /*  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:  <body data-colors-mode="light">     <!-- the rest of your content --> </body>  You can apply the theme on any DOM node, not just the `body`  */
[data-colors-mode="light"] {
  --colors-accents-red: rgba(255, 56, 60, 1);
}
[data-colors-mode="dark"] {
  --colors-accents-red: rgba(255, 66, 69, 1);
}
